body{
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
   }
   *{
       box-sizing: border-box;
   }  
   
   .table th{
    background-color: darkblue;
    color: #ffffff;
   }
  
   .container{
    overflow: hidden;
   }
   
   @media (max-width: 500px){
         .container{
            padding: 0px;
            margin: 0;
            align-items: center;
            justify-content: center;
            
            
           
         }

        .card{
            width: 100%;
            overflow: hidden;
            
        }
        th{
            width: 100%;
        }
       
       
       
       .table thead, .table th .table tbody, .table tr, .table td{
           display: inline-flex;
            width: 100%;
           padding: 10px;
           margin: 1px;
           overflow-x: hidden;
           text-overflow: ellipsis;
           white-space: wrap;
           
        }
        

    td .data-label a{
        font-weight: 200;
        
    }
       
   }